/.metadata/
/.recommenders/
.metadata/.plugins/org.eclipse.core.resources/.history/13/309fb4e9ebd000171fc3a24bef5dabb3
.metadata/.plugins/org.eclipse.core.resources/.history/13/309fb4e9ebd000171fc3a24bef5dabb3
.metadata/.plugins/org.eclipse.core.resources/.history/13/40cac8598bd100171fc3a24bef5dabb3
